.icon-nippon-tour {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
}

.back1 {
    background: rgb(34, 31, 31);
    width: 100%;
    height: 50px;
    position: fixed;
    box-shadow: 1px 1px 2px #000000;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.back1 > a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    display: block;
    color: #b9b8b8;
    text-align: center;
    padding-top: 3px;
    padding-left: 0px;
    margin-right: 100px;
    text-decoration: none;
}

.back1 > a:hover {
    color: white;
}

.title-passagem { 
    color: rgb(245, 235, 235);
    font-size: 1750%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    align-self: center;
}

.subtitle-passagem {
    color: rgb(245, 235, 235);
    text-align: center;
    font-size: 300%;
    font-family: fantasy;
    text-shadow: 2px 2px 4px #000000;
    display: block;
}

#link {
    background: rgb(240, 149, 63);
    width: 270px;
    height: 55px;
    box-shadow: 1px 1px 2px #000000;
    border-radius: 100px;
    margin-top: 50px;
    transition: width 0.5s, height 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link:hover {
    width: 300px;
    height: 75px;
}

#link > a {
    transition: width 0.5s, height 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-decoration: none;  
    color: #4d494a;
}

#link > a:hover {
    color: #000000;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#home {
    background: url(image.css/avioes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#combos1 { 
    width: 100%;
    height: 800px;
    background-image:linear-gradient(to bottom, #190d2c, #161e33);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tipos-de-combos {
    background-color: #190d2c;
    color: #b951e2;
    font-size: 300%;
    margin-top: 0px;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0px;
    text-shadow: 0.5px 0.5px 1px #f5bcf2;
}

.example-letra {
    margin-left: 250px;
    margin-top: 53px;
    width: 12cm;
    height: 6cm;
    box-shadow: 3px 3px 6px #000000;
}

#combo-principal { 
    width: 100%;
    height: 450px;
    background-image:linear-gradient(to bottom, #161e33, #190d2c);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#combos-page {
    width: 0%;
    height: 0px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    background-image: linear-gradient(to bottom, #ebebeb, #cfcfcf);
}

.combo-text {
    font-size: 50px;
    padding-top: 100%;
    color:white;
    list-style:none
}
#link2 {
    background: rgb(37, 4, 146);
    width: 180px;
    height: 50px;
    box-shadow: 1px 1px 2px #000000;
    border-radius: 100px;
    margin-top: 20px;
    transition: width 0.5s, height 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link2:hover {
    width: 200px;
    height: 70px;
}

#link2 > a {
    transition: width 0.5s, height 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-decoration: none;  
    color: #cfcccd;
}

#link2 > a:hover {
    color: #ffffff;
}


.line {
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.especs-combo-1 {
    background-color: #161e33;
    color: #b951e2;
    font-size: 2rem;
    margin-top: 0px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0px;
    text-shadow: 0.5px 0.5px 1px #f5bcf2;
}

#japanHistory { /*é tipo home*/
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, #161e33, #190d2c);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#japanHistory2 { /*é tipo home*/
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, #190d2c, #161e33);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.example-letra {
    margin-left: 250px;
    margin-top: 53px;
    width: 12cm;
    height: 6cm;
    box-shadow: 3px 3px 6px #000000;
}

.frase-pq-japao {
    color: #ffffff;
    font-family: system-ui;
    font-size: 15px;
    padding-left: 100px;
    padding-right: 400px;
    margin-top: 120px;
}

.frasezin {
    color: #ffffff;
    font-family: system-ui;
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title-pq-japao2 {
    color: #ffffff;
    font-family: system-ui;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#newLista {
    width: 100%;
    height: 100px;
    background-color: #190d2c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    background-color: white;
    width: 100%;
    height: 2px;
}

.frase-pq-japao2 {
    color: #ffffff;
    font-family: system-ui;
    font-size: 15px;
    padding-left: 100px;
    padding-right: 180px;
    margin-top: 85px;
}

.como-chegar {
    background-color: #190d2c;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-shadow: 0.5px 0.5px 1px #000000;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.maps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, #190d2c, #161e33);
}

.three-types-turismo {
    width: 400px;
    height: 600px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: width 0.3s, height 0.3s;
}

.three-types-turismo:hover {
    width: 410px;
    height: 610px;
}



#creditos {
    background-color: rgb(34, 31, 31);
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
}


.div-equipes {
    padding: 0;
    margin: 30px;
    width: 25%;
    display: block;
    float: left;
    box-sizing: border-box;
    min-height: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-equipes {
    color: rgb(255, 255, 255);
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0px;
    padding-top: 0px;
    vertical-align: baseline;
}

.names-equioes {
    color: rgb(175, 175, 175);
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: baseline;
}

.names-equioes:hover {
    color: white;
}

.icon-nippon {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: 17.8%;
}

.image-nippon {
    width: 150px;
    height: 150px;
}


