.icon-nippon-tour {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
}

.back1 {
    background: rgb(31, 30, 30);
    width: 100%;
    height: 50px;
    position: fixed;
    box-shadow: 1px 1px 2px #000000;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.back1 > a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    display: block;
    color: #b9b8b8;
    text-align: center;
    padding-top: 3px;
    padding-left: 0px;
    margin-right: 100px;
    text-decoration: none;
}

.back1 > a:hover {
    color: white;
}

.title-nabana { 
    width: 1200px;
    height: 500px;
    object-fit: cover;
    align-self: center;
}

.subtitle-nabana {
    color: rgb(245, 235, 235);
    text-align: center;
    font-size: 3rem;
    font-family: fantasy;
    text-shadow: 2px 2px 4px #000000;
    display: block;
}

#link {
    background: rgb(250, 105, 218);
    width: 270px;
    height: 55px;
    box-shadow: 1px 1px 2px #000000;
    border-radius: 100px;
    margin-top: 50px;
    transition: width 0.5s, height 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link:hover {
    width: 300px;
    height: 75px;
}

#link > a {
    transition: width 0.5s, height 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-decoration: none;  
    color: #d3d3d3;
}

#link > a:hover {
    color: #ffffff;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#home {
    background: url(image.css/fujinabana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#paisagem {
    background-color: #1b1b22;
    width: 100%;
    height: 2150px;
    background-image: linear-gradient(to  bottom, #161e33, #190d2c);
}

.lugares-interativos {
    background-color: #161e33;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding-left: 240px;
    padding-top: 50px;
    text-shadow: 0.5px 0.5px 1px #fcd2f6;
}

.sato {
    padding-left: 10px;
    padding-right: 10px;
    color: #a4bdff;
    text-shadow: 0.5px 0.5px 1px #1cbfff;
    font-family: 'Times New Roman', Times, serif;
}

.sete {
    padding-left: 10px;
    padding-right: 10px;
    color: #d9a9f0;
    text-shadow: 0.5px 0.5px 1px #fc7ceb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.positions {
    display: flex;
    flex-direction: row;
}

.image-paisagem {
    margin-left: 10rem;
    margin-top: 53px;
    width: 12cm;
    height: 6cm;
    box-shadow: 3px 3px 6px #000000;
    border-radius: 20px;
    object-fit: cover;
}

.frase-paisagem {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 150px;
    padding-left: 5rem;
    padding-right: 100px;
}

.positions2 {
    display: flex;
    flex-direction: row-reverse;
}

.image-paisagem2 {
    margin-right: 10rem;
    margin-top: 55px;
    width: 12cm;
    height: 6cm;
    box-shadow: 3px 3px 6px #000000;
    border-radius: 20px;
    object-fit: cover;
}

.frase-paisagem2 {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 7%;
    padding-left: 5%;
    padding-right: 5rem;
}

.positions3 {
    display: flex;
    flex-direction: row;
}

.image-paisagem3 {
    margin-left: 10rem;
    margin-top: 53px;
    width: 12cm;
    height: 6cm;
    box-shadow: 3px 3px 6px #000000;
    border-radius: 20px;
    object-fit: cover;
}

.frase-paisagem3 {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 8%;
    padding-left: 5rem;
    padding-right: 1%;
}


.positions4 {
    display: flex;
    flex-direction: row-reverse;
}

.image-paisagem4 {
    margin-right: 10rem;
    margin-top: 53px;
    width: 12cm;
    height: 6cm;
    box-shadow: 3px 3px 6px #000000;
    border-radius: 20px;
    object-fit: cover;
}

.frase-paisagem4 {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 8%;
    padding-left: 5%;
    padding-right: 5rem;
}


.positions5 {
    display: flex;
    flex-direction: row;
}

.image-paisagem5 {
    margin-left: 10rem;
    margin-top: 53px;
    width: 12cm;
    height: 6cm;
    box-shadow: 3px 3px 6px #000000;
    border-radius: 20px;
    object-fit: cover;
}

.frase-paisagem5 {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 8%;
    padding-left: 5rem;
    padding-right: 1%;
}


.positions6 {
    display: flex;
    flex-direction: row-reverse;
}

.image-paisagem6 {
    margin-right: 10rem;
    margin-top: 53px;
    width: 12cm;
    height: 6cm;
    box-shadow: 3px 3px 6px #000000;
    border-radius: 20px;
    object-fit: cover;
}

.frase-paisagem6 {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 8%;
    padding-left: 5%;
    padding-right: 5rem;
}


.positions7 {
    display: flex;
    flex-direction: row;
}

.image-paisagem7 {
    margin-left: 10rem;
    margin-top: 53px;
    width: 12cm;
    height: 6cm;
    box-shadow: 3px 3px 6px #000000;
    border-radius: 20px;
    object-fit: cover;
}

.frase-paisagem7 {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 8%;
    padding-left: 5rem;
    padding-right: 1%;
}


.hr-line {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}

#restaurante {
    background: url(image.css/naiten.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.cards {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.three-types-turismo {
    width: 20%;
    height: 20%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: width 0.2s, height 0.2s;
}

.three-types-turismo:hover {
    width: 22%;
    height: 22%;
}

.three-types-turismo2 {
    width: 20%;
    height: 20%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: width 0.2s, height 0.2s;
}

.three-types-turismo2:hover {
    width: 22%;
    height: 22%;
}

.three-types-turismo3 {
    width: 20%;
    height: 20%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: width 0.2s, height 0.2s;
}

.three-types-turismo3:hover {
    width: 22%;
    height: 22%;
}

.three-types-turismo4 {
    width: 20%;
    height: 20%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: width 0.2s, height 0.2s;
}

.three-types-turismo4:hover {
    width: 22%;
    height: 22%;
}

.three-types-turismo5 {
    width: 20%;
    height: 20%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: width 0.2s, height 0.2s;
}

.three-types-turismo5:hover {
    width: 22%;
    height: 22%;
}

.three-types-turismo6 {
    width: 20%;
    height: 20%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: width 0.2s, height 0.2s;
}

.three-types-turismo6:hover {
    width: 22%;
    height: 22%;
}

.three-types-turismo7 {
    width: 20%;
    height: 20%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: width 0.2s, height 0.2s;
}

.three-types-turismo7:hover {
    width: 22%;
    height: 22%;
}

.three-types-turismo8 {
    width: 20%;
    height: 20%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: width 0.2s, height 0.2s;
}

.three-types-turismo8:hover {
    width: 22%;
    height: 22%;
}

.comidas-tipicas {
    color: rgb(0, 0, 0);
    font-size: 100px;
    font-style: italic;
    padding-left: 100px;
    text-shadow: 0.5px 0.5px 1px #ffffff;
}

/*AQUI É CREDITOS, POR ISSO PULEI*/
#creditos {
    background-color: rgb(34, 31, 31);
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
}


.div-equipes {
    padding: 0;
    margin: 30px;
    width: 25%;
    display: block;
    float: left;
    box-sizing: border-box;
    min-height: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-equipes {
    color: rgb(255, 255, 255);
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0px;
    padding-top: 0px;
    vertical-align: baseline;
}

.names-equioes {
    color: rgb(175, 175, 175);
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: baseline;
}

.names-equioes:hover {
    color: white;
}

.icon-nippon {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: 17.8%;
}

.image-nippon {
    width: 150px;
    height: 150px;
}