* {
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
}
 
ul {
    margin: 0;
    padding:0;
}
 
li {
    list-style: none; 
    margin: 10px;
    display: inline;
}
li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid #f00; 
    background: #903;
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: rgb(113, 9, 250);
    color: #000; 
    border-color: #000;
}
.accordions{
    width:600px;
    margin:0 auto;
    border:0px solid #ccc;
    text-align: left;
}
.accordion-item input{display:none;}

.accordion-item label{
    display:block;
    border:0px solid #ccc;
    background:#e5e5e5;
    cursor:pointer;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}


.accordion-content{
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    
}

[id^=accordion]:checked ~ .accordion-content {
    height: 100px;
}
